/* Three sizes below */

.custom-select-wrap,
select.custom-select,
span.custom-select {
  height: 28px;
  min-width: 136px;
}
.custom-select-wrap.small,
select.custom-select.small,
span.custom-select.small {
  min-width: 50px;
}
.custom-select-wrap.wide,
select.custom-select.wide,
span.custom-select.wide {
  min-width: 166px;
}
.custom-select-wrap {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.custom-select-wrap.focus span.custom-select {
  border: 1px solid #5c96aa;
  outline: none;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
select.custom-select {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}
span.custom-select {
  background: #f6f5f2;
  border: 1px solid #e1e1e1;
  color: #6a6a6a;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  left: 0;
  line-height: 28px;
  overflow: hidden;
  padding-right: 28px;
  position: absolute;
  top: 0;
  z-index: 9;
  -webkit-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -o-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
}
span.custom-select:focus {
  border: 1px solid #5c96aa;
  outline: none;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
span.custom-select i {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  display: block;
  height: 0;
  position: absolute;
  right: 9px;
  top: 9px;
  width: 0;
}
.custom-select-inner {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 10px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
